
.row{
    width: 100vw;
    height: 50vh;
}
  
  .row a {
    background-color: white;
    color: blue;
    display:grid;
    padding: 2px;
    text-decoration:none;
  }
  
  .row a:hover {
    background-color: #ccc;
  }
  
  .row a.active {
    margin-top: 8px;
    background-color: mediumblue;
    color: white;
  }


body {
    margin: 0;
    background-color: white;
}


code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 15vw;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: white;
    height: 35vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}